services:
  nats:
    image: nats
    ports:
      - "4222:4222"
      - "8222:8222"
      - "6222:6222"
    command: "-js -m 8222"
    restart: unless-stopped
    networks:
      - c2

  clients:
    build: ./clients
    depends_on:
      - nats
      - client-builder
    restart: unless-stopped
    volumes:
      - ./clients/c2/clients/page/:/code/c2/clients/page/
      - ./client-builder/src/plugins/:/plugins/
      - plugins:/plugins/
    networks:
      - c2
    labels:
      - traefik.http.services.clients.loadbalancer.server.port=8000
      - traefik.http.routers.clients.rule=HostRegexp(`[0-9a-f]\.clients\..*`) || HostRegexp(`clients\..*`)
      - traefik.enable=true
  
  client-builder:
    build: ./client-builder
    volumes:
      - ./client-builder/src/:/app/src/
      - ./clients/c2/clients/page/dist/:/app/dist/
    depends_on:
      - nats
    restart: unless-stopped
    networks:
      - c2

  website-bundler:
    build: ./website-bundler
    depends_on:
      - nats
    restart: unless-stopped
    networks:
      - c2

  plugins:
    build: ./plugins
    depends_on:
      - nats
    restart: unless-stopped
    volumes:
      - plugins:/plugins/
    networks:
      - c2

  ui-backend:
    build: ./ui/backend/
    depends_on:
      - nats
    restart: unless-stopped
    networks:
      - c2
    labels:
      - traefik.http.services.api.loadbalancer.server.port=8000
      - traefik.http.routers.api.rule=PathPrefix(`/socket.io`)
      - traefik.enable=true

  ui-frontend:
    build: ./ui/frontend/
    depends_on:
      - ui-backend
    restart: unless-stopped
    networks:
      - c2

    labels:
      - traefik.http.services.frontend.loadbalancer.server.port=80
      - traefik.http.routers.frontend.rule=PathPrefix(`/`)
      - traefik.enable=true

  traefik:
    image: traefik:3.6
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./traefik/traefik.yml:/traefik.yml
      - ./traefik/dynamic.yml:/dynamic.yml
    extra_hosts:
      idp: 172.16.1.142
    ports:
      - "80:80"
    networks:
      - c2
    restart: unless-stopped

volumes:
  plugins:

networks:
  c2: