services:
  nats:
    image: nats
    ports:
      - "4222:4222"
      - "8222:8222"
      - "6222:6222"
    command: "-js -m 8222"
    # volumes:
    #   - ./nats-server.conf:/etc/nats/nats-server.conf
    restart: unless-stopped

  clients:
    build: ./clients
    depends_on:
      - nats
      - client-builder
    restart: unless-stopped
    ports:
      - "8000:8000"
    volumes:
      - ./clients/c2/clients/page/:/code/c2/clients/page/
      - ./client-builder/src/plugins/:/plugins/
      - plugins:/plugins/
  
  client-builder:
    build: ./client-builder
    volumes:
      - ./client-builder/src/:/app/src/
      - ./clients/c2/clients/page/dist/:/app/dist/

    depends_on:
      - nats
    restart: unless-stopped

  website-bundler:
    build: ./website-bundler
    depends_on:
      - nats
    restart: unless-stopped

  plugins:
    build: ./plugins
    depends_on:
      - nats
    restart: unless-stopped
    volumes:
      - plugins:/plugins/

  ui-backend:
    build: ./ui/backend/
    depends_on:
      - nats
    restart: unless-stopped
    ports:
      - 8001:8001

  ui-frontend:
    build: ./ui/frontend/
    depends_on:
      - ui-backend
    restart: unless-stopped
    ports:
      - 80:80

volumes:
  plugins: